body {
  background-color: #f2f2f2;
}

#nav {
  width: 100%;
  height: 100px;
  background-color: black;
}

.navBox {
  border: 1px solid white;
  float: left;
  height: 100%;
  width: 25%;
  text-align: center;
  line-height: 100px;
  color: white;
}

#logo {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 10px;
}

#top {
  width: 100%;
  height: 200px;
  text-align: center;
}

#featured-items {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 300px;
  border: 1px solid black;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.indiv-item {
  float: left;
  width: 15%;
  margin-left: 2%;
  margin-right: 2%;
}

.product-img {
  height: 100%;
  width: 100%;
}

#bottom {
  background-color: #0798D5;
  height: 500px;
}

footer > p {
  color: black !important;
}
